[EC2]
tag=SPOT_INSTANCE_TAG
ami=AMI_ID # Get the appropriate AMI ID for your region from http://aws.amazon.com/amazon-linux-ami/.
key_pair=KEY_PAIR_NAME
security_group=SECURITY_GROUP_NAME
max_bid=0.0021
type=t1.micro
region=eu-west-1
product_description=Linux/UNIX
# User-data to EC2 instance
#user_data = 
user_data_file = example_user_data_file.txt